<head>
    <script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>

  <script src="/static/app.js" defer></script>
  <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

  <title>Budgetr App</title>
</head>